/homework/12穆亚克/*.suo
/homework/14郝东升/MessageBox/*.suo
/homework/1鲍文博/win编程/note_draw/*.suo
/homework/14郝东升/Notepad/*.suo
/homework/14郝东升/Painting/*.suo
/homework/13孟学文/print/*.suo
/homework/12穆亚克/read/*.suo
/homework/4纪伟/text/*.suo
/homework/5霍鹏/Win_exercise/*.suo
/homework/15滕燕/*.suo
/homework/8高佳佳/windows/*.suo
/homework/13孟学文/windtest/*.suo
/homework/11高曼/WinHello/*.suo
/homework/11高曼/WinHellofopen/*.suo
/homework/11高曼/WinHello便笺/*.suo
/homework/11高曼/WinHello记事本/*.suo
/homework/13孟学文/bianqian/*.suo
/homework/16封泉州/*.suo
/homework/7何珏/fopen&fread/*.suo
/homework/7何珏/便签/*.suo
/homework/9刘颖洁/notepad/*.suo
/homework/9刘颖洁/Windowsfopen/*.suo
/homework/9刘颖洁/windows便笺/*.suo
/homework/9刘颖洁/WinHello/*.suo
/homework/2崔立群/WINNOTE/*.suo
/homework/6马圣博/WIN编程作业/WinNote/*.suo
/homework/11高曼/WinPaint/*.suo
/homework/9刘颖洁/WindowsPaint/*.suo
/homework/3李刚/winwork/*.suo
/homework/16封泉州/aa/*.user
/homework/15滕燕/bianqian/*.user
/homework/8高佳佳/windows/bianqian/*.user
/homework/12穆亚克/chuangtikaifa/*.user
/homework/15滕燕/DIYqianming/*.user
/homework/8高佳佳/windows/DIYqianming/*.user
/homework/2崔立群/WINNOTE/DrawGragh/*.user
/homework/16封泉州/fwinnotepad/*.user
/homework/15滕燕/helloworldtxt/*.user
/homework/8高佳佳/windows/helloworldtxt/*.user
/homework/1鲍文博/win编程/note_draw/little_note/*.user
/homework/14郝东升/MessageBox/MessageBox/*.user
/homework/1鲍文博/win编程/note_draw/messagebox/*.user
/homework/2崔立群/WINNOTE/Note/*.user
/homework/2崔立群/WINNOTE/Note2/*.user
/homework/1鲍文博/win编程/note_draw/note_draw/*.user
/homework/14郝东升/Notepad/*.user
/homework/15滕燕/NotePad/*.user
/homework/8高佳佳/windows/NotePad/*.user
/homework/10曲德源/OpenTxt_sec/*.user
/homework/12穆亚克/paint/*.user
/homework/14郝东升/Painting/*.user
/homework/13孟学文/print/print/*.user
/homework/12穆亚克/read/*.user
/homework/1鲍文博/win编程/note_draw/sign_draw/*.user
/homework/4纪伟/text/text/*.user
/homework/5霍鹏/Win_exercise/Win_Console_MsgBox/*.user
/homework/5霍鹏/Win_exercise/Win_exercise/*.user
/homework/5霍鹏/Win_exercise/Win_MessageBox/*.user
/homework/5霍鹏/Win_exercise/Win_MultiFonc/*.user
/homework/5霍鹏/Win_exercise/Win_Paint/*.user
/homework/16封泉州/winDIY/*.user
/homework/12穆亚克/windownote/*.user
/homework/15滕燕/windows/*.user
/homework/8高佳佳/windows/windows/*.user
/homework/13孟学文/windtest/windtest/*.user
/homework/11高曼/WinHello/*.user
/homework/11高曼/WinHellofopen/*.user
/homework/11高曼/WinHello便笺/WinHello/*.user
/homework/11高曼/WinHello记事本/*.user
/homework/13孟学文/bianqian/WinHello/*.user
/homework/16封泉州/winhello/*.user
/homework/7何珏/fopen&fread/WinHello/*.user
/homework/7何珏/便签/WinHello/*.user
/homework/9刘颖洁/notepad/WinHello/*.user
/homework/9刘颖洁/Windowsfopen/*.user
/homework/9刘颖洁/windows便笺/*.user
/homework/9刘颖洁/WinHello/*.user
/homework/10曲德源/WinNote/*.user
/homework/2崔立群/WINNOTE/WINNOTE/*.user
/homework/6马圣博/WIN编程作业/WinNote/WinNote/*.user
/homework/16封泉州/winnoto/*.user
/homework/11高曼/WinPaint/*.user
/homework/2崔立群/WINNOTE/WinPaint/*.user
/homework/6马圣博/WIN编程作业/WinNote/WinPaint/*.user
/homework/9刘颖洁/WindowsPaint/WinPaint/*.user
/homework/16封泉州/wintxt/*.user
/homework/3李刚/winwork/*.user
/homework/16封泉州/备份/*.user
/homework/16封泉州/aa/aa.vcxproj.user
/homework/15滕燕/bianqian/bianqian.vcxproj.user
/homework/8高佳佳/windows/bianqian/bianqian.vcxproj.user
/homework/12穆亚克/chuangtikaifa/chuangtikaifa.vcxproj.user
/homework/15滕燕/DIYqianming/DIYqianming.vcxproj.user
/homework/8高佳佳/windows/DIYqianming/DIYqianming.vcxproj.user
/homework/2崔立群/WINNOTE/DrawGragh/DrawGragh.vcxproj.user
/homework/16封泉州/fwinnotepad/fwinnotepad.vcxproj.user
/homework/15滕燕/helloworldtxt/helloworldtxt.vcxproj.user
/homework/8高佳佳/windows/helloworldtxt/helloworldtxt.vcxproj.user
/homework/1鲍文博/win编程/note_draw/little_note/little_note.vcxproj.user
/homework/14郝东升/MessageBox/MessageBox/MessageBox.vcxproj.user
/homework/1鲍文博/win编程/note_draw/messagebox/messagebox.vcxproj.user
/homework/2崔立群/WINNOTE/Note/Note.vcxproj.user
/homework/2崔立群/WINNOTE/Note2/Note2.vcxproj.user
/homework/1鲍文博/win编程/note_draw/note_draw/note_draw.vcxproj.user
/homework/14郝东升/Notepad/Notepad.vcxproj.user
/homework/15滕燕/NotePad/NotePad.vcxproj.user
/homework/8高佳佳/windows/NotePad/NotePad.vcxproj.user
/homework/10曲德源/OpenTxt_sec/OpenTxt_sec.vcxproj.user
/homework/12穆亚克/paint/paint.vcxproj.user
/homework/14郝东升/Painting/Painting.vcxproj.user
/homework/13孟学文/print/print/print.vcxproj.user
/homework/12穆亚克/read/read.vcxproj.user
/homework/1鲍文博/win编程/note_draw/sign_draw/sign_draw.vcxproj.user
/homework/4纪伟/text/text/text.vcxproj.user
/homework/5霍鹏/Win_exercise/Win_Console_MsgBox/Win_Console_MsgBox.vcxproj.user
/homework/5霍鹏/Win_exercise/Win_exercise/Win_exercise.vcxproj.user
/homework/5霍鹏/Win_exercise/Win_MessageBox/Win_MessageBox.vcxproj.user
/homework/5霍鹏/Win_exercise/Win_MultiFonc/Win_MultiFonc.vcxproj.user
/homework/5霍鹏/Win_exercise/Win_Paint/Win_Paint.vcxproj.user
/homework/16封泉州/winDIY/winDIY.vcxproj.user
/homework/12穆亚克/windownote/windownote.vcxproj.user
/homework/15滕燕/windows/windows.vcxproj.user
/homework/8高佳佳/windows/windows/windows.vcxproj.user
/homework/13孟学文/windtest/windtest/windtest.vcxproj.user
/homework/11高曼/WinHello/WinHello.vcxproj.user
/homework/11高曼/WinHellofopen/WinHello.vcxproj.user
/homework/11高曼/WinHello便笺/WinHello/WinHello.vcxproj.user
/homework/11高曼/WinHello记事本/WinHello.vcxproj.user
/homework/13孟学文/bianqian/WinHello/WinHello.vcxproj.user
/homework/16封泉州/winhello/winhello.vcxproj.user
/homework/7何珏/fopen&fread/WinHello/WinHello.vcxproj.user
/homework/7何珏/便签/WinHello/WinHello.vcxproj.user
/homework/9刘颖洁/notepad/WinHello/WinHello.vcxproj.user
/homework/9刘颖洁/Windowsfopen/WinHello.vcxproj.user
/homework/9刘颖洁/windows便笺/WinHello.vcxproj.user
/homework/9刘颖洁/WinHello/WinHello.vcxproj.user
/homework/10曲德源/WinNote/WinNote.vcxproj.user
/homework/2崔立群/WINNOTE/WINNOTE/WINNOTE.vcxproj.user
/homework/6马圣博/WIN编程作业/WinNote/WinNote/WinNote.vcxproj.user
/homework/16封泉州/winnoto/winnoto.vcxproj.user
/homework/11高曼/WinPaint/WinPaint.vcxproj.user
/homework/2崔立群/WINNOTE/WinPaint/WinPaint.vcxproj.user
/homework/6马圣博/WIN编程作业/WinNote/WinPaint/WinPaint.vcxproj.user
/homework/9刘颖洁/WindowsPaint/WinPaint/WinPaint.vcxproj.user
/homework/16封泉州/wintxt/wintxt.vcxproj.user
/homework/3李刚/winwork/winwork.vcxproj.user
/homework/16封泉州/备份/备份.vcxproj.user
/homework/12穆亚克/chuangtikaifa.suo
/homework/14郝东升/MessageBox/MessageBox.suo
/homework/1鲍文博/win编程/note_draw/note_draw.suo
/homework/14郝东升/Notepad/Notepad.suo
/homework/14郝东升/Painting/Painting.suo
/homework/13孟学文/print/print.suo
/homework/12穆亚克/read/read.suo
/homework/4纪伟/text/text.suo
/homework/5霍鹏/Win_exercise/Win_exercise.suo
/homework/15滕燕/windows.suo
/homework/8高佳佳/windows/windows.suo
/homework/13孟学文/windtest/windtest.suo
/homework/11高曼/WinHello/WinHello.suo
/homework/11高曼/WinHellofopen/WinHello.suo
/homework/11高曼/WinHello便笺/WinHello.suo
/homework/11高曼/WinHello记事本/WinHello.suo
/homework/13孟学文/bianqian/WinHello.suo
/homework/16封泉州/winhello.suo
/homework/7何珏/fopen&fread/WinHello.suo
/homework/7何珏/便签/WinHello.suo
/homework/9刘颖洁/notepad/WinHello.suo
/homework/9刘颖洁/Windowsfopen/WinHello.suo
/homework/9刘颖洁/windows便笺/WinHello.suo
/homework/9刘颖洁/WinHello/WinHello.suo
/homework/2崔立群/WINNOTE/WINNOTE.suo
/homework/6马圣博/WIN编程作业/WinNote/WinNote.suo
/homework/11高曼/WinPaint/WinPaint.suo
/homework/9刘颖洁/WindowsPaint/WinPaint.suo
/homework/3李刚/winwork/winwork.suo
/homework/10曲德源/OpenTxt_sec/OpenTxt_sec.vcxproj.user
/homework/10曲德源/WinNote/WinNote.vcxproj.user
/homework/11高曼/WinHello/WinHello.suo
/homework/11高曼/WinHello/WinHello.vcxproj.user
/homework/11高曼/WinHellofopen/WinHello.suo
/homework/11高曼/WinHellofopen/WinHello.vcxproj.user
/homework/11高曼/WinHello便笺/WinHello.suo
/homework/11高曼/WinHello便笺/WinHello/WinHello.vcxproj.user
/homework/11高曼/WinHello记事本/WinHello.suo
/homework/11高曼/WinHello记事本/WinHello.vcxproj.user
/homework/11高曼/WinPaint/WinPaint.suo
/homework/11高曼/WinPaint/WinPaint.vcxproj.user
/homework/12穆亚克/chuangtikaifa.suo
/homework/12穆亚克/chuangtikaifa/chuangtikaifa.vcxproj.user
/homework/12穆亚克/paint/paint.vcxproj.user
/homework/12穆亚克/read/read.suo
/homework/12穆亚克/read/read.vcxproj.user
/homework/12穆亚克/windownote/windownote.vcxproj.user
/homework/13孟学文/bianqian/WinHello.suo
/homework/13孟学文/bianqian/WinHello/WinHello.vcxproj.user
/homework/13孟学文/print/print.suo
/homework/13孟学文/print/print/print.vcxproj.user
/homework/13孟学文/windtest/windtest.suo
/homework/13孟学文/windtest/windtest/windtest.vcxproj.user
/homework/14郝东升/MessageBox/MessageBox.suo
/homework/14郝东升/MessageBox/MessageBox/MessageBox.vcxproj.user
/homework/14郝东升/Notepad/Notepad.suo
/homework/14郝东升/Notepad/Notepad.vcxproj.user
/homework/14郝东升/Painting/Painting.suo
/homework/14郝东升/Painting/Painting.vcxproj.user
/homework/15滕燕/DIYqianming/DIYqianming.vcxproj.user
/homework/15滕燕/NotePad/NotePad.vcxproj.user
/homework/15滕燕/bianqian/bianqian.vcxproj.user
/homework/15滕燕/helloworldtxt/helloworldtxt.vcxproj.user
/homework/15滕燕/windows.suo
/homework/15滕燕/windows/windows.vcxproj.user
/homework/16封泉州/aa/aa.vcxproj.user
/homework/16封泉州/fwinnotepad/fwinnotepad.vcxproj.user
/homework/16封泉州/winDIY/winDIY.vcxproj.user
/homework/16封泉州/winhello.suo
/homework/16封泉州/winhello/winhello.vcxproj.user
/homework/16封泉州/winnoto/winnoto.vcxproj.user
/homework/16封泉州/wintxt/wintxt.vcxproj.user
/homework/16封泉州/备份/备份.vcxproj.user
/homework/1鲍文博/win编程/note_draw/little_note/little_note.vcxproj.user
/homework/1鲍文博/win编程/note_draw/messagebox/messagebox.vcxproj.user
/homework/1鲍文博/win编程/note_draw/note_draw.suo
/homework/1鲍文博/win编程/note_draw/note_draw/note_draw.vcxproj.user
/homework/1鲍文博/win编程/note_draw/sign_draw/sign_draw.vcxproj.user
/homework/2崔立群/WINNOTE/DrawGragh/DrawGragh.vcxproj.user
/homework/2崔立群/WINNOTE/Note/Note.vcxproj.user
/homework/2崔立群/WINNOTE/Note2/Note2.vcxproj.user
/homework/2崔立群/WINNOTE/WINNOTE.suo
/homework/2崔立群/WINNOTE/WINNOTE/WINNOTE.vcxproj.user
/homework/2崔立群/WINNOTE/WinPaint/WinPaint.vcxproj.user
/homework/3李刚/winwork/winwork.suo
/homework/3李刚/winwork/winwork.vcxproj.user
/homework/4纪伟/text/text.suo
/homework/4纪伟/text/text/text.vcxproj.user
/homework/5霍鹏/Win_exercise/Win_Console_MsgBox/Win_Console_MsgBox.vcxproj.user
/homework/5霍鹏/Win_exercise/Win_MessageBox/Win_MessageBox.vcxproj.user
/homework/5霍鹏/Win_exercise/Win_MultiFonc/Win_MultiFonc.vcxproj.user
/homework/5霍鹏/Win_exercise/Win_Paint/Win_Paint.vcxproj.user
/homework/5霍鹏/Win_exercise/Win_exercise.suo
/homework/5霍鹏/Win_exercise/Win_exercise/Win_exercise.vcxproj.user
/homework/6马圣博/WIN编程作业/WinNote/WinNote.suo
/homework/6马圣博/WIN编程作业/WinNote/WinNote/WinNote.vcxproj.user
/homework/6马圣博/WIN编程作业/WinNote/WinPaint/WinPaint.vcxproj.user
/homework/7何珏/fopen&fread/WinHello.suo
/homework/7何珏/fopen&fread/WinHello/WinHello.vcxproj.user
/homework/7何珏/便签/WinHello.suo
/homework/7何珏/便签/WinHello/WinHello.vcxproj.user
/homework/8高佳佳/windows/DIYqianming/DIYqianming.vcxproj.user
/homework/8高佳佳/windows/NotePad/NotePad.vcxproj.user
/homework/8高佳佳/windows/bianqian/bianqian.vcxproj.user
/homework/8高佳佳/windows/helloworldtxt/helloworldtxt.vcxproj.user
/homework/8高佳佳/windows/windows.suo
/homework/8高佳佳/windows/windows/windows.vcxproj.user
/homework/9刘颖洁/WinHello/WinHello.suo
/homework/9刘颖洁/WinHello/WinHello.vcxproj.user
/homework/9刘颖洁/WindowsPaint/WinPaint.suo
/homework/9刘颖洁/WindowsPaint/WinPaint/WinPaint.vcxproj.user
/homework/9刘颖洁/Windowsfopen/WinHello.suo
/homework/9刘颖洁/Windowsfopen/WinHello.vcxproj.user
/homework/9刘颖洁/notepad/WinHello.suo
/homework/9刘颖洁/notepad/WinHello/WinHello.vcxproj.user
/homework/9刘颖洁/windows便笺/WinHello.suo
/homework/9刘颖洁/windows便笺/WinHello.vcxproj.user
/homework/1鲍文博/win编程/note_draw/Debug
/homework/1鲍文博/win编程/note_draw/ipch
/homework/1鲍文博/win编程/note_draw/messagebox/Debug
/homework/1鲍文博/win编程/note_draw/note_draw/Debug
/homework/1鲍文博/win编程/note_draw/sign_draw/Debug
/homework/1鲍文博/win编程/note_draw/Debug
